In [12]:
import numpy as np
import h5py
import pandas as pd
import numpy

import sys

## Path for Data
path = ''
sys.path.insert(0, path)

## Trigger Files

In trigger file:
groups: H1, L1 (or ifo)

ifo keys:
end_time_template:     used for pycbc.io.hdf.ReadByTemplate's get_data()
template_boundaries:     used for pycbc.io.hdf.ReadByTemplate's set_template()
template_id:             temp id
end_time:               trigger times
snr:                     ranking stat

In [5]:
read = h5py.File(path + 'Triggers.hdf5')
Hread = read['H']
write = h5py.File(path + 'Htrig.hdf5', 'w')
group = write.create_group('H1')


template_id = np.arange(0,236)
template_boundaries = []
wend = []
wsnr = []

trig_id = []
count = 0
for t in template_id:
    trig = list(Hread['trig'][str(t)][:])
    snr = list(Hread['snr'][str(t)][:])
    wend += trig
    wsnr += snr
    
    template_boundaries.append(count)
    trig_id.append([])
    trig_id[-1] = np.arange(count, count+len(trig))
    count += len(trig)
                    

dset = group.create_dataset('template_id', data=template_id)
dset = group.create_dataset('template_boundaries', data=template_boundaries)

srch = group.create_group('search')
srch.create_dataset('start_time', data = np.array([0]))
srch.create_dataset('end_time', data = np.array([4096*10]))

dt = h5py.special_dtype(vlen=np.dtype('int64'))
group.create_dataset('end_time_template', (len(template_id),), dtype=dt)
group['end_time_template'][...] = np.asarray(trig_id)

group.create_dataset('snr_template', (len(template_id),), dtype=dt)
group['snr_template'][...] = np.asarray(trig_id)

group.create_dataset('end_time', data=wend)
group.create_dataset('snr', data=wsnr)
write.close()

/tmp/ipykernel_18647/2182584407.py:35: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  group['end_time_template'][...] = np.asarray(trig_id)
/tmp/ipykernel_18647/2182584407.py:38: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  group['snr_template'][...] = np.asarray(trig_id)

In [6]:
Lread = read['L']
write = h5py.File(path + 'Ltrig.hdf5', 'w')
group = write.create_group('L1')


template_id = np.arange(0,236)
template_boundaries = []
wend = []
wsnr = []

trig_id = []
count = 0
for t in template_id:
    trig = list(Lread['trig'][str(t)][:])
    snr = list(Lread['snr'][str(t)][:])
    wend += trig
    wsnr += snr
    
    template_boundaries.append(count)
    trig_id.append([])
    trig_id[-1] = np.arange(count, count+len(trig))
    count += len(trig)
                    

dset = group.create_dataset('template_id', data=template_id)
dset = group.create_dataset('template_boundaries', data=template_boundaries)

srch = group.create_group('search')
srch.create_dataset('start_time', data = np.array([0]))
srch.create_dataset('end_time', data = np.array([4096*10]))

dt = h5py.special_dtype(vlen=np.dtype('int64'))
group.create_dataset('end_time_template', (len(template_id),), dtype=dt)
group['end_time_template'][...] = np.asarray(trig_id)

group.create_dataset('snr_template', (len(template_id),), dtype=dt)
group['snr_template'][...] = np.asarray(trig_id)

group.create_dataset('end_time', data=wend)
group.create_dataset('snr', data=wsnr)
write.close()

/tmp/ipykernel_18647/2387948979.py:34: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  group['end_time_template'][...] = np.asarray(trig_id)
/tmp/ipykernel_18647/2387948979.py:37: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  group['snr_template'][...] = np.asarray(trig_id)

## Checking if this trigger file works well as a reader

In [8]:
from pycbc.io.hdf import ReadByTemplate

reader = ReadByTemplate('Ltrig.hdf5')
t_ids = reader.set_template(1)
print(t_ids)

reader = ReadByTemplate('Ltrig.hdf5')
t_ids = reader.set_template(2)
print(t_ids)

[ 69508  69509  69510 ... 139014 139015 139016]
[139017 139018 139019 ... 208523 208524 208525]

## Template Bank

In [9]:
df = pd.read_csv(path + 'Horizon.csv')
df

      M        Qi   id        ri       Dh       snr    newsnr
0     1 -6.027794    0  4.958728 -3.81250  8.137289  7.790414
1     1 -5.262685    1  5.777938 -5.68750  8.404800  7.957240
2     1 -4.029232    2  1.271741 -6.50000  8.336715  7.478269
3     1 -6.043304    3  3.200319 -3.37500  7.740130  7.433067
4     1 -5.024806    4  0.836004 -4.25000  7.636446  7.325091
..   ..       ...  ...       ...      ...       ...       ...
231  50 -3.271718  231  1.067034 -2.90625  7.999544  7.908310
232  50 -5.833210  232  0.864023  0.81250  8.146269  7.161269
233  50 -3.039742  233  3.797898 -5.12500  8.252401  7.300182
234  50 -4.312876  234  5.974642 -2.31250  8.187322  7.835628
235  50 -4.765708  235  2.961323 -0.75000  7.506682  7.392462

[236 rows x 7 columns]

In [10]:
bank = h5py.File(path + 'Tbank.hdf5', 'w')
bank.attrs['parameters'] = ['M', 'ri', 'Qi']
bank.create_dataset('M', data=np.array(df['M']).astype('float'))
bank.create_dataset('ri', data=np.array(df['ri']).astype('float'))
bank.create_dataset('Qi', data=np.array(df['Qi']).astype('float'))
bank.create_dataset('template_hash', data=np.arange(0,236))
bank.close()